
ul {
    list-style: none;
}

li {
    text-align: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: waffle-soft;
    src: url(../public/fonts/1d2f409f46c357c5754158b6bfe98ac8.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: optima;
    src: url(../public/fonts/7427eef3a02c9221a63581318b52bf2a.woff2);
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgba(204,132,123,1);
    background: radial-gradient(at bottom right, rgba(77,136,161,1) 0%, rgba(234,161,84,1) 29%, rgba(204,132,123,1) 53%, rgba(242,93,56,1) 94%);
}

#brand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#languages{
    top: 0;
    right: 0;
    padding: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: fixed;
    right: 0;
}
.language-selector {
    width: 60px;
    opacity: 0.5;
    border: 2px solid rgba(255,255,255,0.6) !important;
}
.language-selector.selected{
    opacity: 1;
}
h1{
    color: #7E77A3;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: optima;
    margin-bottom: 0;
}
h2{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: -4px;
    font-family: optima;
}

main {
    background: radial-gradient(at bottom right, rgba(77,136,161,1) 0%, rgba(234,161,84,1) 29%, rgba(204,132,123,1) 53%, rgba(242,93,56,1) 94%);
    background-size: cover;
    background-position: right bottom;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    gap: 16px;
}

#main-links a {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(244,231,238,0.8) 0%, rgba(242,212,226,0.8) 50%, rgba(255,255,255,0.8) 100%);
    border-radius: 32px;
    padding: 16px;
    margin: 16px 0;
    gap: 3pt;
    color: #7E77A3;
}

#main-links a span {
    text-align: center;
    text-transform: uppercase;
    font-family: waffle-soft;
}

#main-links a picture {
    background-color: #3F3B54;
    border-radius: 50%;
    padding: 12px;
    margin: 0 -40px;
    z-index: 2;
}

#midias-sociais {
    display: flex;
    gap: 16px;
}
#social-media{
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 300px;
}

@media (max-width: 768px){
    #brand img{
        zoom: 0.8;
    }
}